@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=PT+Serif&family=Quando&family=Roboto+Slab&display=swap');

.img-sesion, .content {
    display: inline-block;
}

.content-box {
    width: 500px;
    height: 300px;
    background-color: white;
    box-shadow: 4px 6px 5px #555555;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.content {
    text-align: center;
    display: grid;
    grid-template-rows: 1.3fr 3fr .5fr;
    grid-template-columns: 1fr;
    justify-items: center;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.content-resgister {
    width: 320px;
    grid-template-rows: 1fr 3.5fr .5fr;
    box-shadow: 4px 6px 5px #555555;
}

.img-sesion {
    width: 100%;
    height: 100%;
    background-image: url('../img-sesion.jpg');
    background-repeat: round;
    
    box-sizing: border-box;
}

.logo {
    grid-row: 1/2;
    align-self: flex-end;
}

.logo img {
    padding: 0px;
    width: 115px;
    bottom: 13px;
}

.form-sesion {
    grid-row: 2/3;
}

p:hover {
    cursor: default;
}

.input {
    display: block;
    margin: 20px;
    border: none;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #E0DEDE;
}

::placeholder {
    color: #9b9b9b;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #9b9b9b;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #9b9b9b;
  }

.submit-button {
    margin: 10px 0px;
    padding: 5px 10px;
    font-family: 'PT Serif', serif;
    border-radius: 50px;
    border: 2px solid #8142FF;
    box-shadow: 1px 1px 5px #424242;
    cursor: pointer;
    transition: color .5s;
    transition: background-color .5s;
}

.submit-button:hover {
    background-color: #8142FF;
    color: white;
}

.submit-button:active {
    transform: scale(96%);
}

.link-signup {
    grid-row: 3/4;
}

.link-signup a {
    color: #49C1DB;
    font-family: 'Roboto Slab', serif;
    font-size: 13px;
    cursor: pointer;
}

.link-signup a:hover {
    color: #35879b;
    text-decoration: underline;
}